<h3 mat-dialog-title>Delete Photos</h3>
<mat-dialog-content >
    @if (member()) {
        <div class="row">
            @for (photo of userPhotos(); track photo.id) {
                <div class="col-6 mb-3">
                    <img src="{{photo?.url}}" alt="photo of user" class="img-thumbnail">
                    <div class="text-center"> 
                        @if (member()?.username === user().username!) {
                            <button  
                            class="btn btn-sm"
                            [disabled]="photo.isMain"
                            (click)="setMainPhoto(photo)"
                            [ngClass]='photo.isMain ? "btn-success active" : "btn-outline-success"'
                            >
                            Main
                            </button>  
                        }                                                        
                        <button 
                            [disabled]="photo.isMain"
                            (click)="deletePhoto(photo.id)"
                            class="btn btn-sm btn-danger align-self-center"
                        ><i class="fa fa-trash"></i></button>
                    </div>
                </div>
            }    
        </div>
    }
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>    
</mat-dialog-actions>
