.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}

.ngx-gallery { display: inline-block; margin-bottom: 20px; }

.card-familyMember {
    height: auto;
    width: 500px;
    margin: 10px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding-bottom: 0.4em;
}

.card-img {
    align-items: center;
    height: 150px;
    width: 150px;    
    object-fit: cover;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.card-text {
    margin-top: 10px;
}

::ng-deep .nav-tabs .nav-item.disabled a {
    pointer-events: none !important; /* Evita clics */
    opacity: 0.5 !important; /* Hace que se vea desactivada */
    cursor: not-allowed !important;
    color: gray !important;
}

.custom-tab-size {
    width: 1015px !important;
    height: 400px !important;
  }

