<div class="mb-4 d-flex">
    <div class="btn-group" name="container">
        <button class="btn btn-primary" btnRadio="Unread"
            [(ngModel)]="container" (click)="onChangeContainer('Unread')">
            <i class="fa fa-envelope"></i> Unread
        </button>
        <button class="btn btn-primary" btnRadio="Inbox" [(ngModel)]="container" (click)="onChangeContainer('Inbox')">
            <i class="fa fa-envelope-open"></i> Inbox
        </button>
        <button class="btn btn-primary" btnRadio="Outbox" [(ngModel)]="container" (click)="onChangeContainer('Outbox')">
            <i class="fa fa-paper-plane"></i> Outbox
        </button>
    </div>
</div>

@if (!messages() || messages()!.length === 0) {
    <div class="row">
        <h3>No messages</h3>
    </div>
}
@else {
    <div class="row">
        <table class="table table-hover" style="cursor: pointer">
            <thead>
                <tr>
                    <th style="width: 40%">Message</th>
                    <th style="width: 20%">From / To</th>
                    <th style="width: 20%">Sent / Received</th>
                    <th style="width: 20%"></th>
                </tr>
            </thead>
            <tbody class="align-middle">
                @for (message of messages(); track message.id) {
                    <tr [hidden]="loading()" 
                        routerLink="{{container === 'Outbox' ? 
                                        '/members/' + message.recipientUsername : 
                                        '/members/' + message.senderUsername}}" 
                        [queryParams]="{tab: 'Messages'}">
                    <td>{{message.content}}</td>
                    <td>
                        @if (container === 'Outbox') {
                            <div>
                                <img
                                    class="img-circle rounded-circle me-2"
                                    src="{{message.recipientPhotoUrl || './assets/user.png'}}"
                                    alt="recipient photo">
                                <strong>{{message.recipientUsername |
                                    titlecase}}</strong>
                            </div>
                        }
                        @else {
                            <div>
                                <img
                                    class="img-circle rounded-circle me-2"
                                    src="{{message.senderPhotoUrl || './assets/user.png'}}"
                                    alt="recipient photo">
                                <strong>{{message.senderUsername | titlecase}}</strong>
                            </div>
                        }
                        
                        
                    </td>
                    <td>{{message.messageSent | timeago}}</td>
                    <td>
                        <button 
                            (click)="$event.stopPropagation()"
                            (click)="messageStore.deleteMessage(message.id)" 
                            class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                }
                
            </tbody>
    
        </table>
    </div>
}

@if (!loading() && pagination() && messages() && messages().length > 0) {
    <div class="d-flex justify-content-center">
        <pagination
            [boundaryLinks]="true"
            [totalItems]="pagination()!.totalItems"
            [itemsPerPage]="pagination()!.itemsPerPage"
            [(ngModel)]="pagination()!.currentPage"
            (pageChanged)="pageChanged($event)"
            [maxSize]="10"
            previousText="&lsaquo;"
            nextText="&rsaquo;"
            firstText="&laquo;"
            lastText="&raquo;">
        </pagination>
    </div>
}

