<div class="row">    
    <div class="col-12">
      <div class="container">        
        <div class="flex-row">
          <app-crud-table
            [serviceApiUrl]="'notifications/'"
            [columnsInput]="columns"        
            [dataSourceInput]="dataSource()">
          </app-crud-table>
        </div>                    
    </div>
      
      <!-- <table mat-table [dataSource]="availableNotifications()" class="mat-elevation-z8 demo-table">
        @for (column of columns; track column) {
          <ng-container [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef>
              {{column.header}}
            </th>
            <td mat-cell *matCellDef="let row">
              {{column.cell(row)}}
            </td>
          </ng-container>
        }

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="openDialogEditNotification(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="openDialogDeleteNotification(row)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>

        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplayWithExpand;"></tr>
      </table> -->

      

    </div>
     
  </div>   