<div class="card">
    <div class="card-body">               
        @if (messageStore.thread().length === 0) {
            <div>
                No messages yet... say hi by using the message box below
            </div>
        }
        @else {
            <ul #scrollMe style="max-height: 500px;" [scrollTop]="scrollMe.scrollHeight" class="chat overflow-auto">
                @for (message of messageStore.thread(); track message.id) {
                    <li class="mb-3">
                        <div class="d-flex flex-column flex-sm-row align-items-sm-start gap-2">
                            <span class="chat-img float-end d-none d-sm-inline">
                                <img class="rounded-circle img-fluid" 
                                    src="{{message.senderPhotoUrl || './assets/user.png'}}" 
                                    alt="image of user">
                            </span>
                            <div class="chat-body flex-grow-1">
                                <div class="header d-flex justify-content-between">
                                    <small class="text-muted">
                                        <span class="fa fa-clock-o">
                                            {{ message?.messageSent ? (message.messageSent | timeago) : 'just now' }}
                                        </span>
                                        @if (!message.dateRead && message.senderUsername !== username()!) {
                                            <span class="text-danger">(unread)</span>
                                        }
                                        @else {
                                            <span class="text-success">(read {{ message.dateRead ? (message.dateRead | timeago) : '' }})</span>
                                        }                                                                                
                                    </small>
                                </div>
                                <p class="mb-1">{{message.content}}</p>
                            </div>
                        </div>
                    </li>
                }
                
            </ul>
        }            
    </div>

    @if (user()?.canSendMessages) {
        <div class="card-footer">
            <form #messageForm="ngForm" (ngSubmit)="sendMessage()" autocomplete="off">
                <div class="input-group">
                    <input
                        name="messageContent"
                        required
                        [(ngModel)]="messageContent" 
                        type="text" 
                        class="form-control input-sm" 
                        placeholder="Send a private message">
                    <div class="input-group-append">
                        <button [disabled]="!messageForm?.valid" class="btn btn-primary" type="submit">Send</button>
                    </div>
                </div>
            </form>
        </div>
    }
    
</div>